[submodule "third-rules/THXAN-2"]
	path = third-rules/THXAN-2
	url = git@github.com:thxan/THXAN-2.git
[submodule "third-rules/cursor-memory-bank"]
	path = third-rules/cursor-memory-bank
	url = git@github.com:vanzan01/cursor-memory-bank.git
